{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Log In{% endblock %}</h2>
{% endblock %}

{% block content %}
<form method="post">
  <div class="row">
    <div class="col">
    <label for="username">Username</label>
    <input name="username" type="text" class="form-control" id="username" placeholder="required">
  </div>
  <div class="col">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="required">
  </div>
  <div class="col">
    <button type="submit" class="btn btn-primary" value="Log In">Log In</button>
  </div>
</form>
{% endblock %}
